<tr>
  <td><%= data[1] %></td>
  <td>
    &nbsp;
    <a href="details/<%= data[0].CoinInfo.Name%>">
      <img
        src="https://www.cryptocompare.com/<%= data[0].CoinInfo.ImageUrl%>"
        alt="<%= data[0].CoinInfo.Name%>"
        srcset=""
        loading="lazy"
      />
    </a>

    <a href="details/<%= data[0].CoinInfo.Name%>"
      ><%= data[0].CoinInfo.FullName%></a
    >

    <!-- <img
          src="imageNotFound.png"
          alt="Image not found"
          onerror="this.onerror=null;this.src='{{ FullName }}';"
          /> -->
  </td>
  <td class="hideOnMediumScreen">&nbsp;<%= data[0].CoinInfo.Name%></td>
  
  
  
  <td>
    &nbsp;<%= data[0].DISPLAY.EUR.PRICE%>
    <span class="percentageDeltaPrice"
      ><%= data[0].RAW.EUR.CHANGEPCT24HOUR.toFixed(2) %><b>%</b></span
    >
   
  </td>
  <td class="hideOnSmallerScreen MarketCap">
    &nbsp;<%= data[0].DISPLAY.EUR.MKTCAP%>
  </td>
  <td class="hideOnSmallScreen">&nbsp; <%= data[0].DISPLAY.EUR.SUPPLY %></td>

  <td class="hideOnMediumScreen">
    &nbsp;<%= data[0].DISPLAY.EUR.MKTCAPPENALTY%>
  </td>

  <td class="coin<%= data[0].CoinInfo.Name%> percentageDeltaPrice">&nbsp;</td>
</tr>
