<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <main>
      <%- include('./partials/header.ejs')%>
      <!-- Input section for searching Tickers and their data -->

      <!-- <a href="#details/BTC">#details</a> -->

      <!-- <a href="#adadadas">router wildcard test</a> -->
      <!-- <button id="clearCache">Empty Cache</button> -->
      <!-- <section>
        <input
          class="inputTicker"
          name="inputTicker"
          type="text"
          aria-label="input crypto ticker"
          placeholder="search ticker e.a. BTC / ADA / AGI"
        />
        <label for="inputTicker"></label>
        <button class="searchBtn" type="submit">Submit</button>
      </section> -->

      <!-- Add wallet as soon as localStorage is done -->
      <section class="wallet"></section>

      <section class="overview">
        <div class="loader display-none"></div>
        <table class="overviewTable">
          <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th class="hideOnMediumScreen"></th>
              <th>Price</th>
              <th class="hideOnSmallerScreen">Market Capitalization</th>
              <th class="hideOnSmallScreen">Cirulating Supply</th>
              <th class="hideOnMediumScreen">Max Supply</th>
              <th class="">
                X Value <br />
                avg: <span id="headerX" class="percentageDeltaPrice"></span>
              </th>
            </tr>
          </thead>

          <tbody>
            <% obj.forEach(function(coin, i){ try{ %> 
              
              <tr>
                <td><%=  %></td>
                <td>
                  &nbsp;
                  <a href="details/<%= coin.CoinInfo.Name%>">
                    <img
                      src="https://www.cryptocompare.com/<%= coin.CoinInfo.ImageUrl%>"
                      alt="<%= coin.CoinInfo.Name%>"
                      srcset=""
                      loading="lazy"
                    />
                  </a>
              
                  <a href="details/<%= coin.CoinInfo.Name%>"
                    ><%= coin.CoinInfo.FullName%></a
                  >
              
                  <!-- <img
                        src="imageNotFound.png"
                        alt="Image not found"
                        onerror="this.onerror=null;this.src='{{ FullName }}';"
                        /> -->
                </td>
                <td class="hideOnMediumScreen">&nbsp;<%= coin.CoinInfo.Name%></td>
                
                
                
                <td>
                  &nbsp;<%= coin.DISPLAY.EUR.PRICE%>
                  <span class="percentageDeltaPrice"
                    ><%= coin.RAW.EUR.CHANGEPCT24HOUR.toFixed(2) %><b>%</b></span
                  >
                 
                </td>
                <td class="hideOnSmallerScreen MarketCap">
                  &nbsp;<%= coin.DISPLAY.EUR.MKTCAP%>
                </td>
                <td class="hideOnSmallScreen">&nbsp; <%= coin.DISPLAY.EUR.SUPPLY %></td>
              
                <td class="hideOnMediumScreen">
                  &nbsp;<%= coin.DISPLAY.EUR.MKTCAPPENALTY%>
                </td>
              
                <td class="coin<%= coin.CoinInfo.Name%> percentageDeltaPrice">&nbsp;</td>
              </tr>
              
              
              
              <% } catch{console.log(`error on: ${coin.CoinInfo.Name}`)} }); %>
          </tbody>
        </table>
      </section>
    </main>
    <%- include('partials/footer.ejs')%>
    <script src="/start-service-worker.js"></script>
    <script src="/js/main-min.js" type="module"></script>
  </body>
</html>
