<tr>
  <td><%= data[1] %></td>
  <td>
    &nbsp;
    <a href="index.html#details/<%= data[0].CoinInfo.Name%>"
      ><object
        data="https://www.cryptocompare.com/<%= data[0].CoinInfo.ImageUrl%>"
        type="image/png"
      ></object
    ></a>

    <a href="index.html#details/<%= data[0].CoinInfo.Name%>"
      ><%= data[0].CoinInfo.FullName%></a
    >

    <!-- <img
          src="imageNotFound.png"
          alt="Image not found"
          onerror="this.onerror=null;this.src='{{ FullName }}';"
          /> -->
  </td>
  <td class="hideOnMediumScreen">&nbsp;<%= data[0].CoinInfo.Name%></td>
  <td>
    &nbsp;<%= data[0].RAW.EUR.PRICE%>
    <span class="percentageDeltaPrice"
      ><%= data[0].RAW.EUR.CHANGEPCT24HOUR%><b>%</b></span
    >
  </td>
  <td class="hideOnSmallerScreen MarketCap">
    &nbsp;<%= data[0].RAW.EUR.MKTCAP%>
  </td>
  <td class="hideOnSmallScreen">&nbsp; <%= data[0].RAW.EUR.SUPPLY%></td>
  <td class="hideOnMediumScreen">&nbsp;<%= data[0].RAW.EUR.MKTCAPPENALTY%></td>
  <td class="coin<%= data[0].CoinInfo.Name%> percentageDeltaPrice">&nbsp;</td>
</tr>
